__pycache__/
*.pyc
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
.idea
*.json
!.well-known/*
!Dockerrun.aws.json
.scannerwork
.DS_Store
.coverage
**/.vscode/
dump.rdb