container_commands:
  test_cron_01:
    command: 35 10 * * * /usr/bin/python3 /home/test_cron.py >> /home/cron.log
    leader_only: true


container_commands:
  test_cron_02:
    command: 35 11 * * * /usr/bin/python3 /home/test_cron.py >> /home/cron2.log
    leader_only: true

container_commands:
  test_cron_03:
    command: 00 12 * * * /usr/bin/python3 /home/test_cron.py >> /home/cron3.log
    leader_only: true

container_commands:
  append_poll_01:
    command: 35 10 * * * /usr/bin/python3 /home/src/cron_jobs/append_db.py >> /home/cron4.log
    leader_only: true

container_commands:
  append_poll_02:
    command: 35 11 * * * /usr/bin/python3 /home/src/cron_jobs/append_db.py >> /home/cron5.log
    leader_only: true

container_commands:
  append_poll_02:
    command: 00 12 * * * /usr/bin/python3 /home/src/cron_jobs/append_db.py >> /home/cron6.log
    leader_only: true